<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <title></title>
    <meta name="csrf_token" value="{{ csrf_token }}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <!-- Start Main Search -->
    <div id="mainPage">
        <div class="container">
            <div class="row vertical-center">
                <div class="col-12">
                    <div class="ltr mb-5" style="text-align:center;">
                        <img src="/static/images/logo.png" style="height: auto; width:200px;" />
                    </div>
                    <div class="input-group col-12">
                        <input type="text" id="search" name="search" placeholder="جستوجو ..." class="sbibod search-input form-control pt-2 pb-2"
                            autocomplete="off">
                        <div class="search-icon">
                            <a style="color: #4285f4;" id="searchClick" href="#" onClick="makeSearch(event);">
                                <icon class="fa fa-search"></icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/save-rss/" class="btn btn-link btn-block mt-5">افزودن صفحه RSS</a>
    </div>
    <!-- End Main Search -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
        $(document).on(
            {
                keypress: function ($event) {
                    if ($event.which == 13) {
                        $('#searchClick').click();
                    }
                }
            }, '.search-input');

        function enableLoading() {
            $('#loader').fadeIn(10);
        }
        function disableLoading() {
            $('#loader').fadeOut(700);
        }
        function csrfToken() {
            return $('meta[name="csrf_token"]').attr('value');
        }

        function makeSearch($event) {
            var searchValue = $('#search').val();
            $event.preventDefault();
            enableLoading();
            $.ajax({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken());
                },
                url: 'search/',
                method: 'POST',
                data: {
                    'searchedValue': searchValue
                },
                success: function (res) {
                    $('#mainPage').html(res);
                    disableLoading();
                }
            });
        }
    </script>
</body>

</html>