<!doctype html>
<html lang="fa" dir="ltr">

<head>
    <title>Save-RSS page</title>
    <meta name="csrf_token" value="{{ csrf_token }}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <!-- Start Main Search -->
    <div id="mainPage">
        <div class="row">
            <div class="col-sm-5 offset-4 form-group">
                <input type="text"
                id="save-rss" 
                placeholder="لینک صفحه RSS را وارد کنید." 
                class="sbibod rtl form-control mt-5 pt-2 pb-2"
                autocomplete="off">
            </div>
        </div>
        <div id="result" class="rtl badge badge-info hidden"></div>

        <a href="/" class="btn btn-link btn-block mt-5">صفحه جستوجو</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
        $(document).on(
            {
                keypress: function ($event) {
                    if ($event.which == 13) {
                        saveLink($event);
                    }
                }
            }, '#save-rss');
        
        function csrfToken() {
            return $('meta[name="csrf_token"]').attr('value');
        }
        
        function saveLink($event)
        {
            $('#result').html();
            $('#result').addClass('hidden');

            $event.preventDefault();

            $.ajax({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken());
                },
                url: '/save-rss/',
                method: 'POST',
                data: {
                    'link': $('#save-rss').val(),
                },
                success: function (res) {
                    $('#result').html(res.message);
                    $('#result').removeClass('hidden');
                }
            });

        }
    </script>
</body>
</html>