<div class="row" style="padding-top: 3rem;background-color: #f7f7f770;">
    <div class="input-group col-8 col-xs-12">
        <img src="/static/images/logo.png" class="search-image" />
        <input type="text" id="search" value="{{ searchedValue }}" placeholder="جستوجو ..." class="sbibod search-input form-control pt-2 pb-2"
            autocomplete="off">
    </div>
    <div class="search-icon">
        <a style="color: #4285f4;" id="searchClick" href="#" onClick="makeSearch(event);">
            <icon class="fa fa-search"></icon>
        </a>
    </div>
    <div class="col-12">
        <div id="loader">
            <icon class="fas fa-spinner fa-spin"></icon>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">همه</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/save-rss/">افزودن صفحه RSS</a>
            </li>

        </ul>
    </div>
</div>
<div class="container mt-5">
    <div class="row" id="resultSearch">
        {% for var in my_list %}
        <div class="col-10 text-right">
            <h3>
                <a href="{{var.link}}">{{var.title}}</a>
            </h3>
            <cite>{{var.link}}</cite>
            <p>
                {{ var.description}}
            </p>
        </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-5 mb-4">
        <li class="page-item">
            <a class="page-link" href="#">بعدی</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">قبلی</a>
        </li>

    </ul>
</nav>


<footer class="justify-content-left mb-4 mt-5">
    <div class="row">
        <div class="col-12">
            <span>ساخته شده با</span>
            <icon class="fa fa-heart" style="color:#ef5350"></icon>
        </div>
    </div>
</footer>