@mixin z-depth($depth) {
    @if depth==0 {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    }
    @else {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    }
}

.vertical-center {
    margin-top:100px;
    align-items: center;
}

.sbibod {
    background-color: #fff;
    height: 44px;
    vertical-align: middle;
    border-radius: 2px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    @include z-depth(0);
}

.search-icon {
    background-color: transparent;
    border: none;
    left: 3rem;
    top:0.6rem;
    position: relative;
    height: 2rem;
    z-index: 100;
}
.search-image{
    width: 50px;
    height: 50px;
    margin-left: 1rem;
    margin-bottom: 3rem;
}
.form-control:focus {
    border-color: #f0f0f0;
    @include z-depth(1);
}

.ltr {
    direction: ltr!important;
}

.rtl {
    direction: rtl!important;
}

.soccial-icons > icon{
    font-size: 1.2rem;
    margin: 0 1rem;
    color: rgba(150, 97, 97, 0.945);
}

/************************/
//Loader
/*************************/
@import "loader.scss";

/**********************/
// Fix .row
/**********************/
.row{
    margin-left:0!important; 
    margin-right:0!important;
    padding-left: 15px; 
    padding-right: 15px; 
}
#resultSearch div > h3{
    color: #212ca3;
    margin-bottom: 0;
}
#resultSearch div > cite{
    font-weight: 600;
    font-size: 1.1rem;
    color: green
}
#resultSearch div > p {
    padding-top: 0.5rem;
}

#result{
    display: block;
    padding: 1rem;
    font-size: 1.25rem;
    margin: 2rem 7rem;
}
.hidden{
    display:none!important;
}